{% extends "base.html" %}

{% block title %}Article{% endblock %}

{% block content %}
<div class="article_content">
    <div class="header_article">
        <img src="{{url_for('static', filename='image/a1.png')}}" alt="Article Page">
        <div class="list_tag tag-article">
            <span class="tag">Tag 1</span>
            <span class="tag">Tag 2</span>
        </div>
    </div>
    <div class="body_article">
        <h1>Tips Membuat Kolam Ikan Konsumsi di Pekarangan</h1>
        <p>Salah satu tantangan membuat kolam ikan konsumsi di pekarangan adalah keselarasan antara keindahan dan fungsinya. Meskipun kolam ikan ini digunakan untuk memelihara ikan konsumsi yang bisa dimanfaatkan, dalam membuat kolam ikan konsumsi tidak boleh dilakukan sembarangan. Pembuatannya juga harus memerhatikan beberapa hal terkait.</p>
        <p>Budidaya ikan konsumsi di pekarangan rumah memiiki banyak manfaat, seperti dapat memanfaatkan hasilnya, sebagai aktivitas untuk meredam stres, dan proses belajar budidaya ikan yang akan berguna jika Anda mulai melakukan bisnis budidaya dengan skala besar.</p>
        <p>Berikut ini beberapa tips untuk membuat kolam ikan konsumsi di pekarangan rumah yang indah serta fungsional.</p>
        <h4>Desain Kolam</h4>
        <p>Desain kolam paling sederhana dan aman digunakan adalah persegi. Maksud aman dalam hal ini adalah mudah digunakan, tidak mengganggu keindahan pekarangan, dan fungsional. Selain itu, saat ini rumah-rumah lebih sering menggunakan desain kotak dan sempit. Penampilan kolam harus serasi dengan desain rumah agar terlihat indah.</p>
        <h4>Ukuran dan Letak Kolam</h4>
        <p>Ukuran kolam bisa disesuaikan dengan kondisi lahan dan sisa bangunan. Sebaiknya, perhitungkan juga sisa lahan yang digunakan sebagai jalur untuk memudahkan kegiatan sehari-hari.</p>
        <p>Sementara itu, letak kolam harus dipilih yang strategis, tidak mengganggu pemandangan dan tidak menghalangi aktivitas sehari-hari.</p>
        <h4>Ukuran dan Letak Kolam</h4>
        <p>Kolam bisa terbuat dari tanah, beton, terpal, drum, toren, dan keramba. Tiap bahan pembuat kolam memiliki kelebihan dan kekurangannya masing-masing yang bisa disesuaikan dengan kebutuhan Anda.</p>
        <p>Jika ingin membangun kolam permanen, sebaiknya gunakan bahan pembuat kolam yang bagus agar tidak merepotkan Anda untuk terus melakukan perbaikan karena kualitas bahan yang rendah. Anda bisa menambahkan ornamen seperti batu alam. Hindari penggunaan ornamen yang sulit untuk dibersihkan karena bisa menyulitkan Anda untuk menjaga kebersihan kolam.</p>
        <h4>Perawatan Kolam</h4>
        <p>Pembersihan kolam harus dilakukan secara berkala untuk menghindari ikan terjangkit penyakit yang disebabkan oleh kondisi kolam yang kotor. Semua jenis kolam butuh dibersihkan, baik kolam yang semipermanen maupu portabel. Pembersihan pada kolam yang tidak permanen juga berguna untuk mencegah kerusakan kolam.</p>
        <p>Sumber: <a href="https://www.pertanianku.com/tips-membuat-kolam-ikan-konsumsi-di-pekarangan/">https://www.pertanianku.com/tips-membuat-kolam-ikan-konsumsi-di-pekarangan/</a></p>
    </div>
    <div class="prev_page-btn">
        <a href="/"><i class="ri-arrow-left-line"></i> Go To Dashboard</a>
    </div>
</div>
{% endblock %}